* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.App-controls {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.App-dock-container, .App-there-container {
  margin: 5rem;
}

.App-test-div {
  height: 10rem;
  width: 10rem;
  background-color: aqua;
  padding: 2rem;
  border: 5px solid red;
}

.App-dock-container {
  display: flex;
  justify-content: space-evenly;
}

.App-add-margin {
  margin: 10rem;
}

.App-movable-yellow, .App-movable-red, .App-movable-green {
  height: 10rem;
  width: 10rem;
  border-radius: 8px;
}

.App-movable-yellow {
  background-color: yellow;
}

.App-movable-red {
  background-color: red;
}

.App-movable-green {
  background-color: green;
}

.App {
  background-color: rgb(151, 168, 183);
}

.App-dock-background {
  border: 1px dashed rgb(51, 51, 51);
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-1 {
  margin: 1rem;
  padding: 1rem;
}