.App {
  height: 100vh;
}

.App-controls {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.App-dock-container, .App-there-container {
  margin: 5rem;
}

.App-test-div {
  height: 10rem;
  width: 10rem;
  background-color: aqua;
  padding: 2rem;
  border: 5px solid red;
}

.App-dock-container {
  display: flex;
  justify-content: space-evenly;
}

.App-there-container {
  display: flex;
  justify-content: space-around;
}

.App-add-margin {
  margin: 10rem;
}

.App-here-yellow, .App-here-red, .App-here-green {
  height: 10rem;
  width: 10rem;
}

.App-here-yellow {
  background-color: yellow;
}

.App-here-red {
  background-color: red;
}

.App-here-green {
  background-color: green;
}

.App {
  background-color: rgb(151, 168, 183);
}

.App-make-yellow {
  background-color: yellow;
  padding: 2rem;
}